{% extends "portfolio/layout.html" %}

{% block title %}About Me | My Portfolio{% endblock %}

{% block content %}
<div class="about_me_container">
    <section class="about_me_section">
        <h2>About Me</h2>
        <div>
            <p>Hi, I'm Ricardo, a 21-year-old computer engineering student with a passion for coding. I have experience in several programming languages, including Java, C, Python, SQL, C++, C#, and Kotlin, as well as some web development and basic assembly language skills. Having spent 15 years in an English-speaking country, I have achieved a high level of fluency in English.</p>
            <p>My interest in computer engineering began at a young age, and I quickly discovered a love for coding. I thrive on the challenge of creating new programs and solving complex problems using my programming skills. In my free time, I enjoy experimenting with different programming languages and tools, and I'm always eager to learn about new developments in the field of computer engineering.</p>
            <p>As a computer engineering student, I am continually expanding my knowledge and honing my skills. I am dedicated and hardworking, determined to succeed in my field. With my strong technical abilities and passion for coding, I am confident in my ability to make a significant contribution to the world of computer engineering.</p>
        </div>
    </section>

    <section class="interests section">
        <h2>Interests</h2>
        <div>
            <p><strong>Coding and Software Development:</strong> I have a genuine passion for coding and love creating innovative software solutions. I'm proficient in a range of programming languages including Java, C, Python, C++, C#, and Kotlin, and enjoy the challenge each one brings.</p>
            <p><strong>Web Development:</strong> Designing and developing web applications is something I find incredibly rewarding. I love diving into both front-end and back-end technologies to build user-friendly and efficient web experiences.</p>
            <p><strong>Problem Solving:</strong> There's nothing quite like the thrill of tackling a complex problem and finding an elegant solution. I thrive on algorithm development and the mental gymnastics involved in problem-solving.</p>
            <p><strong>Technology Trends:</strong> I am always eager to stay updated with the latest trends and advancements in technology and computer engineering. Keeping abreast of new developments keeps my passion for this field alive and well.</p>
            <p><strong>Artificial Intelligence and Machine Learning:</strong> The potential of AI and ML to transform industries and improve daily life fascinates me. I'm particularly interested in how these technologies can be leveraged to create smarter and more intuitive systems.</p>
            <p><strong>Fitness and Outdoor Activities:</strong> Balancing my tech interests, I maintain a healthy lifestyle through regular exercise and outdoor activities. Whether it’s a run in the park or a game of soccer, staying active is key for me.</p>
            <p><strong>Gaming:</strong> I’m a big fan of video games, both playing and analyzing them. I find the game development process intriguing and enjoy exploring the mechanics that make games engaging and fun.</p>
        </div>
    </section>

    <section class="skills section">
        <h2>Skills</h2>
        <div>
            <h3>Programming</h3>
            <ul>
                <li><strong>Languages:</strong> Java, C, Python, C++, C#, Kotlin</li>
                <li><strong>Web Development:</strong> HTML, CSS, JavaScript, Django, Python</li>
                <li><strong>Database Management:</strong> SQL, SQL Server </li>
                <li><strong>Development Tools:</strong> IntelliJ IDEA, Visual Studio Code, Pythonanywhere, Azure Data Studio </li>
                <li><strong>Version Control:</strong> Git (GitHub)</li>
            </ul>
        </div>
    </section>

    <section class="education section">
        <h2>Education</h2>
        <div class="education-container">
            <div class="education-item">
                <h3>Universidade Lusófona, Lisbon</h3>
                <p>Bachelor's Degree in Computer Engineering</p>
                <p><strong>Duration:</strong> 3 years</p>
                <p><strong>Credits:</strong> 180 ECTS</p>
                <p>The course trains graduates to take on prominent roles in computer engineering projects and development and consultancy teams. Students acquire skills in designing, implementing, and maintaining computer systems, application and systems programming, designing computing and communication architectures, and managing information and knowledge systems.</p>
            </div>
            <div class="education-item">
                <h3>Main Competencies Developed</h3>
                <ul>
                    <li>Development of business and mobile applications</li>
                    <li>Design and management of information repositories</li>
                    <li>Management of computer systems and new Internet paradigms</li>
                    <li>Network architecture and administration</li>
                    <li>Analysis and programming</li>
                    <li>IT consultancy</li>
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}
