{% extends 'bandas/layout.html' %}

{% block title %}
Lista de Bandas
{% endblock %}


{% block content %}

<a href="{% url 'bandas:bandas_list_json' %}">
    <button>Ver lista de bandas em JSON</button>
</a>

{% if abbey_road_album %}
    {% if come_together_song %}
    <h2>musica preferida</h2>
        <a href="{% url 'bandas:song_detail' come_together_song.titulo %}">
            <button>{{ come_together_song.titulo }}</button>
        </a>
    {% endif %}
{% endif %}

<h1>Bandas</h1>
<ul>
{% for banda in bandas %}
    <li>
        <a href="{% url 'bandas:band_detail' banda.nome %}">{{ banda.nome }}</a>
    </li>
{% endfor %}


</ul>
    <div class="button-group">
    {% if request.user.is_authenticated %}
    <a href="{% url 'bandas:nova_banda' %}">
        <button><i class="fa-regular fa-square-plus"></i> Nova banda</button>
    </a>
    {% endif %}
    </div>
{% endblock %}
