<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'meteo/styles.css' %}">

    <link rel="icon" href="{% static 'meteo/favicon.ico' %}" type="x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/c1593d761b.js" crossorigin="anonymous"></script>

    <style>
        {% block style %}
        {% endblock %}
    </style>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <header id="header">
        {% block header %}
        {% endblock %}
    </header>

    <main id="main-content" class="main">
        {% block content %}{% endblock %}
    </main>
    <footer id="footer">
        <h3 class="footer-text">
            <a href="{% url 'meteo:api_documentacao' %}">info da API aqui</a>
        </h3>
    </footer>
</body>
</html>
