<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Interesses em Programação Web</title>
</head>
<body>

    <header>
        <h1>Meus Interesses em Programação Web</h1>
        <nav>
            <a href="{% url 'pwsite:index' %}">Introducao</a>
            <a href="{% url 'pwsite:sobre' %}">Sobre</a>

        </nav>
    </header>

    <main>
        <h2>O que mais tenho gostado de aprender em Programação Web</h2>
        <p>Uma das coisas que mais tenho apreciado durante o curso de Programação Web é a possibilidade de criar interfaces de usuário dinâmicas e interativas usando tecnologias como HTML, CSS e JavaScript. É fascinante ver como podemos dar vida às nossas ideias e tornar as páginas web mais atraentes e funcionais.</p>

        <h2>Coisas que gostaria de aprender em Programação Web</h2>
        <p>Estou bastante interessado em aprofundar meus conhecimentos em frameworks de desenvolvimento web, como Django e React. Também gostaria de explorar mais sobre o design responsivo e a criação de aplicações web acessíveis a diversos dispositivos.</p>

        <h2>Ideias de sites que pretendo desenvolver</h2>
        <p>Tenho algumas ideias interessantes para projetos web futuros. Uma delas é criar uma plataforma de aprendizado interativo para iniciantes em programação, onde os usuários possam praticar codificação em um ambiente amigável e educativo. Além disso, gostaria de desenvolver um site de compartilhamento de receitas culinárias, onde os usuários possam contribuir com suas próprias receitas e experiências culinárias.</p>

    </main>

    <footer>
        <p>&copy; 2024 Meus Interesses em Programação Web - Todos os direitos reservados.</p>
    </footer>

</body>
</html>
